html {
	margin: 0;
	padding: 0;
}

body { 
	color: #555753; 
	margin: 0; 
	padding: 0;
}

p { 
	margin-top: 0; 
}

abbr {
    text-decoration: none;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
}

/* Intro section */

.intro {
    grid-column: 1 / span 3;
}

header {
    height: 25em;
    text-align: center;
    background: linear-gradient(rgba(11, 92, 11,0.45), rgba(11, 92, 11,0.45)),
    url("images/abstract.jpg") no-repeat bottom;

}

header h1 {
    margin: 0;
    padding: 1.2em 0 0 0;
    color: white;
    font-size: 3em;
}

header h2 {
    color: white;
}

.summary {
    position: relative;
    top: -200px;
    text-align: center;
    color: whitesmoke;
}

.summary p {
    display: inline;
}

.preamble {
    width: 55%;
    margin: 0 auto;
}

.preamble h3 {
    text-align: center;
}

.preamble p {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

.preamble p:nth-of-type(1) {
    padding-left: 15%;
    
}

/* MAIN */

.main {
    display: contents;
}

.explanation {
    grid-column: 1 / span 2;
}

.participation {
    grid-column: 2 / span 2;
}

.benefits {
    grid-column: 2 / span 2;
}

.requirements {
    grid-column: 1 / span 2;
}

footer {
    grid-column: 1 / span 3;

    text-align: center;
}

/* Sidebar */

.sidebar,
.wrapper {
    display: contents;
}

.design-selection {
    grid-row: 3 / span 2;
}

.design-archives {
    grid-row: 2;
    grid-column: 3;
}

.zen-resources {
    grid-row: 5;
    grid-column: 3;
}